:root {
    --orange1: #ec6611;
    --orange2: #ff6b00;
}

.bg-info,
.bg-info a,
.bg-danger,
.bg-danger a,
.bg-success,
.bg-success > a {
    color: #fff;
}

.form-inline {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.form-control:focus {
    box-shadow: none;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.img-circle {
    border-radius: 50%;
}

.top-nav {
    z-index: 99999;
}

.content-wrapper {
    margin-top: 56px;
    overflow-x: hidden;
}

.navbar-brand {
    color: var(--orange1);
}

.btn-collapse {
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;

    .fa-angle-double-right {
        display: none;
    }

    &:hover {
        .fa-angle-double-right {
            display: inline-block;
        }
        .fa-bars {
            display: none;
        }
    }
}

.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;

    h3 {
        font-size: 2.2rem;
        font-weight: 700;
        margin: 0 0 10px;
        padding: 0;
        white-space: nowrap;
    }

    p {
        font-size: 1rem;
    }

    .icon {
        color: rgba(0, 0, 0, 0.15);

        & > i {
            font-size: 90px;
            position: absolute;
            right: 15px;
            top: 15px;
            transition: -webkit-transform 0.3s linear;
            transition: transform 0.3s linear;
            transition: transform 0.3s linear, -webkit-transform 0.3s linear;
        }

        & > i.fa,
        & > i.fab,
        & > i.fad,
        & > i.fal,
        & > i.far,
        & > i.fas,
        & > i.ion {
            font-size: 70px;
            top: 20px;
        }

        &:hover {
            & > i.fa,
            & > i.fab,
            & > i.fad,
            & > i.fal,
            & > i.far,
            & > i.fas,
            & > i.ion {
                transform: scale(1.1);
            }
        }
    }

    & > .small-box-footer {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.8);
        display: block;
        padding: 3px 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 10;
    }

    & > .inner {
        padding: 10px;
    }
}

.col-lg-3 .small-box h3,
.col-md-3 .small-box h3,
.col-xl-3 .small-box h3 {
    @media (min-width: 1200px) {
        font-size: 2.2rem;
    }
    @media (min-width: 992px) {
        font-size: 1.6rem;
    }
}

.select2-container--default {
    .select2-selection--single {
        height: 37px;
        border: 1px solid #ced4da;
    }

    .select2-selection--single .select2-selection__arrow {
        height: 37px;
    }

    .select2-selection--single .select2-selection__rendered {
        line-height: 37px;
    }
}

#recent-books {
    h2 {
        margin-bottom: 2rem;
    }
    .book-img {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        img {
            border-radius: 6px;
            height: 190px;
            margin: -15px auto 15px;
            position: relative;
            width: 158px;
            z-index: 1;
            background-image: url('/public/images/loading.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .book-type {
        margin-bottom: 15px;
        .genre {
            border: 1px solid #57b7f7;
            border-radius: 10px;
            color: #202020;
            display: inline-block;
            font-display: swap;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            min-width: 79px;
            padding: 0 10px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .book-info {
        color: #202020;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 15px;
        span {
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
                &::before {
                    display: none;
                }
            }
            &::before {
                background: #aaa;
                border-radius: 100%;
                content: '';
                display: inline-block;
                height: 4px;
                margin-right: 10px;
                vertical-align: middle;
                width: 4px;
            }
        }
    }
}

#user-reviews {
    background-color: #202020;
}

#quote-slideshow {
    .blockquote {
        text-align: center;
        font-size: 1.5rem;
        color: #333;
    }
    .blockquote-footer {
        font-size: 1.2rem;
        color: #999;
    }
}
