// Variables
$sidebar-width: 210px !default;

.main-content {
    position: relative;
    left: 54px;
    width: calc(100% - 54px);
}

// Sidebar Styles
.sidebar {
    position: fixed;
    top: 56px; // Height of the top navbar
    left: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #f8f9fa;
    transition: all 0.5s ease;
    z-index: 999;

    .sidebar-content {
        .user-info {
            border-bottom: 1px solid #4f5962;
            position: relative;
            .image {
                display: inline-block;
                padding-left: 0.8rem;
                .fake-image {
                    height: 2.1rem;
                    width: 2.1rem;
                    text-align: center;
                    line-height: 2.1rem;
                    background: #ec6611;
                    color: #fff;
                }
            }
            .info {
                display: none;
            }
        }
        .user-info,
        .user-info .info {
            overflow: hidden;
            white-space: nowrap;
        }
        .nav {
            .nav-link {
                display: flex;
                align-items: center;
                min-height: 40px;
                padding: 8px 13px;
                color: #323232;
                .icon-wrap {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                    min-width: 24px;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 12px;
                    color: #fff;

                    // Show collapsed sidebar on hover
                    &:hover {
                        .sidebar {
                            width: $sidebar-width;
                            .nav {
                                .nav-link {
                                    .text-wrap {
                                        display: block;
                                    }
                                }
                            }
                            & + .main-content {
                                position: relative;
                                left: $sidebar-width;
                                width: calc(100% - 210px);
                            }
                        }
                    }
                }
                .text-wrap {
                    display: none;
                    flex: 1 1 auto;
                    min-width: 0;
                    opacity: 1;
                    transition: opacity 0.1s ease-out 0ms;
                }
                &:hover {
                    background: #f1f1f1;
                    font-weight: bold;
                }
                &.active {
                    background: #ec6611;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }

    &.open {
        width: $sidebar-width;
        .user-info {
            .info {
                display: block;
            }
        }
        .nav {
            .nav-link {
                .text-wrap {
                    display: block;
                }
            }
        }
        & + .main-content {
            position: relative;
            left: $sidebar-width;
            width: calc(100% - $sidebar-width);
        }
    }
}
